<div class="d-flex flex-column" style="text-align: centr; margin-left: 3px; width: 250px; ">
    <a class="btn btn-primary bg-danger" href="/categories/index?category=Beverages">Beverage Department</a><br />
    <a class="btn btn-primary" href="/categories/index?category=Fish">Seafood Department</a><br />
    <a class="btn btn-primary bg-success" href="/categories/index?category=Meat">Meat Department</a><br />
    <a class="btn btn-primary bg-warning" href="/categories/index?category=Vegetable">Vegetables Department</a><br />
</div>
