@{
    ViewBag.Title = "FormAutorization";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Authorization</title>
</head>
<body>
    </br></br></br>
    <h2 style="text-align: center; color: blue; ">Authorization Form</h2>
    <div style=" display: flex;
            align-items: center; justify-content: center;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <form method="post" style="display: flex; flex-direction: column; align-items: center;">
                <p>
                    <label>Login</label><br />
                    <input name="login" required />
                </p>
                <p>
                    <label>Password</label><br />
                    <input type="password" name="password" required />
                </p>
                <div style="display: flex; gap: 10px;">
                    <a href="/authorization/registration" style="text-decoration: none;">
                        <input type="button" value="Registration">
                    </a>
                    <input type="submit" value="Sign in">
                </div>
                @if (ViewBag.Error != null)
                {
                    <p style="color: black;">@ViewBag.Error</p>
                }
            </form>
        </div>

    </div>
</body>

</html>

