<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Form</title>
    <style>
           .blinking-text {
            color: green;
            font-weight: bold;
            animation: blink 1s steps(1) infinite;
        }

        @@keyframes blink {
            50% {
                opacity: 0;
            }
        }
    </style>
</head>
<h1 class="blinking-text">
    Login successful!
</h1>
<a href="/admin/adminindex"><button style="color:black; align-items: center;border-radius: 50px;">Press any key</button></a>