@using Raketo.ViewModel;


<div class="d-flex justify-content-center" style="text-align: center; margin: 10px 0;">
    <a class="d-flex flex-column align-items-center bg-danger m-2 p-2" href="/user/userindex?category=Beverages" userindex /Beverage" style="width: 150px; color: white; text-decoration: none; border-radius: 10px;">
        <img src="/images/beverages1.jpg" alt="Beverages" style="width: 120px; height: 120px;">
        <span>Beverage Department</span>
    </a>

    <a class="d-flex flex-column align-items-center bg-primary m-2 p-2" href="/user/userindex?category=Fish" style="width: 150px; color: white; text-decoration: none; border-radius: 10px;">
        <img src="/images/fish.jpg" alt="Seafood" style="width: 120px; height: 120px;">
        <span>Seafood Department</span>
    </a>

    <a class="d-flex flex-column align-items-center bg-success m-2 p-2" href="/user/userindex?category=Meat" style="width: 150px; color: white; text-decoration: none; border-radius: 10px;">
        <img src="/images/meat.jpg" alt="Meat" style="width: 120px; height: 120px;">
        <span>Meat Department</span>
    </a>

    <a class="d-flex flex-column align-items-center bg-warning m-2 p-2" href="/user/userindex?category=Vegetable" style="width: 150px; color: white; text-decoration: none; border-radius: 10px;">
        <img src="/images/vegetables.jpg" alt="Vegetables" style="width: 120px; height: 120px;">
        <span>Vegetables Department</span>
    </a>
</div>
