@using Raketo.ViewModel;
@using Raketo.Interfaces;
@model IEnumerable<ProductViewModel>;


@foreach (var item in Model)
{
    <div style="text-align: center ; border: 2px solid black;
      border-radius: 20px; background-image:url(/images/beverages.jpg)">
        <h1 style="color: blue">@item.Category</h1>
    </div>
    break;

}



<table class="table show-empty-cells" style="width:500px; margin: auto;">


    <tr><th>Product name</th><th>Quantity</th><th>Price</th><th></th><th></th></tr>


    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)

        {
            <tr>
                @if (item.Name != null) 

                {
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                    <td>
                        <a href="/categories/edit?id=@item.Id"><input type="submit" value="Edit"></a>
                    </td>
                    <td>
                        <a href="/categories/delete?id=@item.Id&_category=@item.Category"><input type="submit" value="Delete" /></a>
                    </td>
                }
            </tr>
             }
    }
</table>

@if (Model?.Count() <= 0)
{
    <h1>All sold out !!!</h1>
}

<a href="/categories/add/" type="submit" style="border:2px solid black; border-radius:7px 25px; color:green"><b>Add product </b></a>
    
<a href="/user/admin" type="submit" border-radius:7px 25px; "><button>Back</button></a>