@using Raketo.Models
@model IProducts

<div class="d-flex flex-column" style="text-align: centr; margin-left: 3px; width: 250px; ">
    <a class="btn btn-primary bg-danger" asp-controller="categories" asp-action="index" asp-route-id="1">Beverage Department</a><br />
    <a class="btn btn-primary" href="/categories/index/2">Seafood Department</a><br />
    <a class="btn btn-primary bg-success" href="/categories/index/3">Meat Department</a><br />
    <a class="btn btn-primary bg-warning" asp-controller="categories" asp-action="index" asp-route-id="4">Vegetables Department</a><br />
</div>